.example-card {
  margin-top: 2%;
  background-color: rgb(227, 230, 248);

}

.example-card2 {
  margin-top: 5%;
}


.example-header-image {
  background-image: url('https://img.utdstc.com/icon/054/3bb/0543bb66c7d0aabfe81dd9ce9e56f843766c4f052cd139fccc80f3c75963c4fc:200');
  background-size:  cover;
}
mat-card-title {
  font-size: 5px;
}

