<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <mat-icon type="button" aria-hidden="false" routerLink="/admin/" aria-label="Example home icon">home</mat-icon>
    <li class="breadcrumb-item"><a routerLink="/admin/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dịch vụ</li>
  </ol>
</nav>
<nb-card>
  <nb-card-header>
    Danh sách dịch vụ
  </nb-card-header>
  <nb-card-body>
    <mat-tab-group mat-align-tabs="center" animationDuration="800ms">
      <mat-tab label="Dịch vụ khác">
        <br>
        <div style="display: flex">
          <button (click)="openAddDvKhac()" mat-flat-button color="primary">Thêm dịch vụ</button>
          <!-- <nb-actions size="medium">
            <nb-action nbPopoverTrigger="hover" [nbPopover]="card" icon="person-outline" [badgeText]="check.length"
              badgePosition="top right" badgeStatus="warning">
            </nb-action>
          </nb-actions> -->
        </div>
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilterDichVuKhac($event)" placeholder="Nhập mục cần tìm..." #input>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Chọn bộ phận</mat-label>
          <mat-select>
            <mat-option *ngFor="let bp of boPhanList" (click)="getAllDichVuKhacByBoPhan(bp.id)" [value]="bp">
              {{bp.ten}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <table mat-table [dataSource]="dichVuKhac" multiTemplateDataRows class="mat-elevation-z8"
          #TableOneSort="matSort" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openEditDvKhac(row)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Chỉnh sửa</span>
                </button>
                <button (click)="onDelete(row.id)" mat-menu-item>
                  <mat-icon>lock</mat-icon>
                  <span>Xoá</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STT </th>
            <td mat-cell *matCellDef="let element;let i = index;"> {{element.id}}</td>
          </ng-container>
          <ng-container matColumnDef="boPhan">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên bộ phận </th>
            <td mat-cell *matCellDef="let element"> {{element.boPhan.ten}} </td>
          </ng-container>
          <ng-container matColumnDef="tenDichVu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên dịch vụ </th>
            <td mat-cell *matCellDef="let element"> {{element.ten}} </td>
          </ng-container>
          <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá </th>
            <td mat-cell *matCellDef="let element"> {{element.donGia}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplayDvk"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayDvk;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
          </tr>
          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
        </table>
        <mat-paginator #TableOnePaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
      <mat-tab label="Dịch vụ cố định">
        <br>
        <div style="display: flex">
          <!-- <button (click)="openAddDvCoDinh()" mat-flat-button color="primary">Thêm dịch vụ</button> -->
          <!-- <nb-actions size="medium">
            <nb-action nbPopoverTrigger="hover" [nbPopover]="card" icon="person-outline" [badgeText]="check.length"
              badgePosition="top right" badgeStatus="warning">
            </nb-action>
          </nb-actions> -->
        </div>
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilterDichVu($event)" placeholder="Nhập mục cần tìm..." #input>
        </mat-form-field>
        <table mat-table [dataSource]="dichVuCoDinh" #TableTwoSort="matSort" multiTemplateDataRows
          class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openEditDvCoDinh(row)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Chỉnh sửa</span>
                </button>
                <!-- <button (click)="onDelete(row.id)" mat-menu-item>
                  <mat-icon>lock</mat-icon>
                  <span>Xoá</span>
                </button> -->
              </mat-menu>
            </td>
          </ng-container>
          <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STT </th>
            <td mat-cell *matCellDef="let element;let i = index"> {{element.id}}</td>
          </ng-container>
          <ng-container matColumnDef="tenDichVu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên dịch vụ </th>
            <td mat-cell *matCellDef="let element"> {{element.ten}} </td>
          </ng-container>
          <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá </th>
            <td mat-cell *matCellDef="let element"> {{element.donGia}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
          </tr>
          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
        </table>
        <mat-paginator #TableTwoPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </nb-card-body>
</nb-card>
<!-- <ng-template #card>
  <nb-card class="popover-card">
    <nb-card-header status="warning">
      Nhân viên không có cơ sở
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="check.length == 0">Không có dữ liệu</div>
      <div *ngIf="check.length > 0">
        <p *ngFor="let checks of check">
          <b style="color: black">Tài khoản:</b> {{checks.userName}} <button (click)="openEdit(checks.id)" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </p>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template> -->
