.example-card {
  margin-top: 2%;
  background-color: rgb(234, 234, 240);

}

.example-header-image {
  background-image: url('https://image.flaticon.com/icons/png/512/2875/2875925.png');
  background-size: cover;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}
