<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <mat-icon type="button" aria-hidden="false" routerLink="/admin/" aria-label="Example home icon">home</mat-icon>
    <li class="breadcrumb-item"><a routerLink="/admin/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Căn hộ</li>
  </ol>
</nav>
<div class="row">
  <div class="col">
    <div class="card-row">
      <div class="card-col">
        <nb-card size="medium">
          <nb-card-header>
            Cư dân thuộc căn hộ
            <button mat-icon-button color="primary" *ngIf="role == 'Staff_bql'" (click)="openAddCuDan()"
              style="float:right;margin-top: -10px;">
              <mat-icon>add</mat-icon>
            </button>
          </nb-card-header>
          <nb-card-body>
            <mat-form-field>
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilterCuDan($event)" placeholder="Nhập mục cần tìm..." #input>
            </mat-form-field>
            <table mat-table [dataSource]="cuDanList" #TableSort="matSort" multiTemplateDataRows
              class="mat-elevation-z8" matSort>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button (click)="openEditCuDan(row)" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Chỉnh sửa</span>
                    </button>
                    <button *ngIf="role == 'Staff_bql'" mat-menu-item>
                      <mat-icon>lock</mat-icon>
                      <span>Xoá</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element"> <img src="{{element.hinhAnh}}" style="width:50px;height:50px;">
                </td>
              </ng-container>
              <ng-container matColumnDef="userName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
              <ng-container matColumnDef="fullName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên </th>
                <td mat-cell *matCellDef="let element"> {{element.hoTen}}
                  <mat-icon *ngIf="element.chuCanHo == true" class="mat-18">start</mat-icon>
                </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
                <td mat-cell *matCellDef="let element"> {{element.soDienThoai}} </td>
              </ng-container>
              <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                  <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="example-element-description">
                      <span *ngIf="element.ngaySinh != null" class="example-element-description-attribution">Ngày sinh:
                      </span>{{element.ngaySinh | date}}
                      <span *ngIf="element.soCCCD != null" class="example-element-description-attribution">CCCD:
                      </span>{{element.soCCCD}}
                      <span *ngIf="element.diaChi != null" class="example-element-description-attribution">Địa chỉ:
                      </span>{{element.diaChi}}
                    </div>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
              </tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
              </tr>
              <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>

          </nb-card-body>
          <nb-card-footer>
            <mat-paginator #TablePaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-md-5">
        <div class="card-row">
          <div class="card-col">
            <nb-card size="tiny">
              <nb-card-header>
                <div class="row">
                  <div class="col-8">
                    Thông tin thẻ
                  </div>
                  <div class="col-4">
                    <button mat-icon-button color="primary" *ngIf="role == 'Staff_bql'" (click)="openAddTheCuDan()"
                      style="float:right;margin-top: -10px;">
                      <mat-icon>add</mat-icon>
                    </button>
                  </div>
                </div>
              </nb-card-header>
              <nb-card-body>
                <mat-list>
                  <mat-list-item *ngFor="let theCuDan of theCuDanList">
                    <h4 mat-line>{{theCuDan.maThe}} - {{theCuDan.ngayTao | date}} -
                      {{theCuDan.kichHoat ? "Đã sử dụng" : "Chưa sử dụng"}}</h4>
                    <mat-icon *ngIf="role == 'Staff_bql'" (click)="openEditTheCuDan(theCuDan.maThe)">edit</mat-icon>
                    <mat-icon *ngIf="role == 'Staff_bql'" (click)="onDeleteTheCuDan(theCuDan.id)">clear</mat-icon>
                  </mat-list-item>
                  <span *ngIf="theCuDanList.length == 0">Không có dữ liệu</span>
                </mat-list>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-row">
          <div class="card-col">
            <nb-card size="tiny">
              <nb-card-header>
                Thông tin xe cộ
                <button mat-icon-button color="primary" *ngIf="role == 'Staff_bql'" (click)="openAddXeCo()"
                  style="float:right;margin-top: -10px;">
                  <mat-icon>add</mat-icon>
                </button>
              </nb-card-header>
              <nb-card-body>
                <mat-list>
                  <!-- <h6><strong>Ô tô</strong></h6> -->
                  <mat-list-item *ngFor="let xeCo of xeCoList">
                    <h6 mat-line>{{xeCo.loaiXe}} - {{xeCo.tenXe}} - {{xeCo.bienKiemSoat}} </h6>
                    <mat-icon *ngIf="role == 'Staff_bql'" (click)="onDeletePhuongTien(xeCo.id)">clear</mat-icon>
                  </mat-list-item>
                  <!-- <h6><strong>Xe máy</strong></h6>
                  <mat-list-item *ngFor="let xeCo of xeCoList">
                    <h6 mat-line *ngIf="xeCo.loaiXe ==='May'">{{xeCo.tenXe}} - {{xeCo.bienKiemSoat}} </h6>
                    <mat-icon *ngIf="xeCo.loaiXe ==='May'">clear</mat-icon>
                  </mat-list-item>
                  <h6><strong>Máy điện</strong></h6>
                  <mat-list-item *ngFor="let xeCo of xeCoList">
                    <h6 mat-line *ngIf="xeCo.loaiXe ==='May dien'">{{xeCo.tenXe}} - {{xeCo.bienKiemSoat}} </h6>
                    <mat-icon *ngIf="xeCo.loaiXe ==='May dien'">clear</mat-icon>
                  </mat-list-item> -->
                </mat-list>
                <span *ngIf="xeCoList.length == 0">Không có dữ liệu</span>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>
    </div>
    <nb-tabset>

    </nb-tabset>
    <div class="card-row">
      <div class="card-col">
        <nb-flip-card>
          <nb-card-front>
            <nb-card>
              <nb-card-header>
                Dịch vụ cố định

              </nb-card-header>
              <nb-card-body>
                <mat-form-field>
                  <mat-label>Tìm kiếm</mat-label>
                  <input matInput (keyup)="applyFilterDichVu($event)" placeholder="Nhập dịch vụ cần tìm..." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dichVuList" multiTemplateDataRows #TableOneSort="matSort"
                  class="mat-elevation-z8" matSort>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="openDetailDichVu(row)" mat-menu-item>
                          <mat-icon>edit</mat-icon>
                          <span>Chi tiết</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ngayTao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
                    <td mat-cell *matCellDef="let element">
                      {{this.convertDateToTimeStamp(element.ngayTao) | date:"longDate"}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="trangThai">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
                    <td mat-cell *matCellDef="let element">
                      <button *ngIf="element.trangThai == false && role == 'Staff_bql'" mat-icon-button color="primary"
                        (click)="openAddDichVu(element.id,'DVCD')">
                        Thanh toán
                      </button>
                      <button *ngIf="element.trangThai == false && role == 'User'" mat-icon-button color="primary"
                        (click)="thanhToanPayPalHddv(element.id)">Thanh
                        toán
                        Paypal</button>
                      {{element.trangThai ? "Đã thanh toán" : ""}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayDichVu.length">
                      <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        *ngIf="element.trangThai == true">
                        <div class="example-element-description">
                          <span *ngIf="element.tenNguoiThanhToan != null"
                            class="example-element-description-attribution">Người
                            thanh toán:
                          </span>{{element.tenNguoiThanhToan}}
                          <span *ngIf="element.soDienThoai != null" class="example-element-description-attribution">Số
                            điện
                            thoại:
                          </span>{{element.soDienThoai}}
                          <span *ngIf="element.loaiHinhThanhToan != null"
                            class="example-element-description-attribution">Loại
                            hình thanh toán
                          </span>{{element.loaiHinhThanhToan}}
                          <span *ngIf="element.ngayThanhToan[0] != null"
                            class="example-element-description-attribution">Ngày
                            thanh
                            toán: </span>{{convertDateToTimeStamp(element.ngayThanhToan) | date}}
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayDichVu"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplayDichVu;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                  </tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator #TableOnePaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </nb-card-body>
              <nb-card-footer>
                Dịnh vụ sửa chữa
              </nb-card-footer>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card>
              <nb-card-header>
                Dịnh vụ sửa chữa
              </nb-card-header>
              <nb-card-body>
                <mat-form-field>
                  <mat-label>Tìm kiếm</mat-label>
                  <input matInput (keyup)="applyFilterDichVuKhac($event)" placeholder="Nhập dịch vụ cần tìm..." #input>
                </mat-form-field>
                <table mat-table [dataSource]="dichVuKhacList" multiTemplateDataRows #TableTwoSort="matSort"
                  class="mat-elevation-z8" matSort>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let row">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button (click)="openDetailSuaChua(row)" mat-menu-item>
                          <mat-icon>edit</mat-icon>
                          <span>Chi tiết</span>
                        </button>

                      </mat-menu>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="ngayTao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
                    <td mat-cell *matCellDef="let element">
                      {{this.convertDateToTimeStamp(element.ngayTao) | date:"longDate"}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="trangThai">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
                    <td mat-cell *matCellDef="let element">
                      <button *ngIf="element.trangThai == false && role == 'Staff_bql'" mat-icon-button color="primary"
                        (click)="openAddDichVu(element.id,'DVSC')">
                        Thanh toán
                      </button>
                      <button *ngIf="element.trangThai == false && role == 'User'" mat-icon-button color="primary"
                        (click)="thanhToanPayPalHdsc(element.id)">Thanh
                        toán
                        Paypal</button>
                      {{element.trangThai ? "Đã thanh toán" : ""}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="nhanVien">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhân viên </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.nhanVien.hoTen}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayDichVuSuaChua.length">
                      <div class="example-element-detail"
                        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
                        *ngIf="element.trangThai == true">
                        <div class="example-element-description">
                          <span *ngIf="element.tenNguoiThanhToan != null"
                            class="example-element-description-attribution">Người
                            thanh toán:
                          </span>{{element.tenNguoiThanhToan}}
                          <span *ngIf="element.soDienThoai != null" class="example-element-description-attribution">Số
                            điện
                            thoại:
                          </span>{{element.soDienThoai}}
                          <span *ngIf="element.loaiHinhThanhToan != null"
                            class="example-element-description-attribution">Loại
                            hình thanh toán
                          </span>{{element.loaiHinhThanhToan}}
                          <span *ngIf="element.ngayThanhToan[0] != null"
                            class="example-element-description-attribution">Ngày
                            thanh
                            toán: </span>{{convertDateToTimeStamp(element.ngayThanhToan) | date}}
                        </div>
                      </div>
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayDichVuSuaChua"></tr>
                  <tr mat-row *matRowDef="let element; columns: columnsToDisplayDichVuSuaChua;"
                    class="example-element-row" [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                  </tr>
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
                  </tr>
                  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
                </table>
                <mat-paginator #TableTwoPaginator="matPaginator" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
              </nb-card-body>
              <nb-card-footer>
                Dịch vụ cố định
              </nb-card-footer>
            </nb-card>
          </nb-card-back>
        </nb-flip-card>
        <!-- <nb-card size="medium">
          <nb-card-header>
            Dịch vụ căn hộ đang sử dụng
            <button mat-icon-button color="primary" (click)="openAddDichVu()" style="float:right;margin-top: -10px;">
              <mat-icon>add</mat-icon>
            </button>
          </nb-card-header>
          <nb-card-body>
            <mat-form-field>
              <mat-label>Tìm kiếm</mat-label>
              <input matInput (keyup)="applyFilterDichVu($event)" placeholder="Nhập dịch vụ cần tìm..." #input>
            </mat-form-field>
            <!-- <table mat-table class="mat-elevation-z8"> -->
        <!-- [dataSource]="dataSource" -->
        <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <!-- <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container> -->

        <!-- Name Column -->
        <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container> -->

        <!-- Weight Column -->
        <!-- <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container> -->

        <!-- Symbol Column -->
        <!-- <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container> -->

        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Không có dữ liệu: {{input.value}}</td>
              </tr> -->

        <!-- </table> -->
        <!-- </nb-card-body> -->
        <!-- <nb-card-footer> -->
        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
        <!-- </nb-card-footer> -->
        <!-- </nb-card>  -->
      </div>
    </div>
  </div>
</div>
