<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <mat-icon type="button" aria-hidden="false" routerLink="/admin/" aria-label="Example home icon">home</mat-icon>
    <li class="breadcrumb-item"><a routerLink="/admin/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trang cá nhân</li>
  </ol>
</nav>
<div class="col-md-2">
</div>
<div *ngIf="profileResponse!=null">
  <nb-card>
    <nb-card-header>
      Trang cá nhân
    </nb-card-header>
    <nb-card-body>
      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-img">
              <img src='{{profileResponse.image}}' alt="Ảnh cá nhân" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="profile-head">
              <h5>
                Tên tài khoản: {{profileResponse.userName}}
              </h5>
              <h6>
                Chức vụ: {{profileResponse.role === 'Staff_bql' ? 'Quản trị viên' : 'Nhân viên'}}
              </h6>
              <p class="proile-rating">Cơ sở làm việc :
                <span>{{profileResponse.homeStayName == null ? 'Tổng quản lý' : profileResponse.homeStayName}}</span>
              </p>
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <button mat-button class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                    aria-controls="home" aria-selected="true" aria-controls="profile">Cá nhân
                  </button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" id="profile-tab" data-toggle="tab" mat-button (click)="openEdit()" role="tab"
                    aria-controls="profile" aria-selected="false">Chỉnh sửa
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="profile-work"><br>
              <a href="">Họ và tên: {{profileResponse.lastName}} {{profileResponse.firstName}}</a><br />
              <a href="">Giới tính: {{profileResponse.sex}}</a><br />
              <a href="">Ngày sinh: {{profileResponse.dateOfBirth | date: 'dd-MM-yyyy'}}</a><br />
            </div>
          </div>
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-6">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profileResponse.email}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Số điện thoại</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profileResponse.phone}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label>Địa chỉ</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{profileResponse.address}}</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>

    </nb-card-body>
  </nb-card>

</div>
