<h4 mat-dialog-title>Xác nhận phương thức hủy</h4>
<div class="row">
  <div style="background-color: #6585fc;  margin-right: 5px; font-weight: bold; color: white" class="example-ripple-container mat-elevation-z4"
       matRipple
       (click)="processing()">
    Hoàn tiền
  </div>

  <div style="background-color: #f15858;  margin-left: 5px; font-weight: bold; color: white" class="example-ripple-container mat-elevation-z4"
       (click)="cancel()" matRipple>
    Không hoàn tiền
  </div>
</div>
