<button mat-button style="float: right" (click)="openPrintHoaDonDichVu()">
  <mat-icon class="mat-18">print</mat-icon>
</button>
<table class="table">
  <thead>
    <tr>
      <th>STT</th>
      <th>Tên dịch vụ</th>
      <th>Số lượng</th>
      <th>Đơn giá</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td>DV1</td>
      <td>1</td>
      <td>10</td>
    </tr>
    <tr>
      <td scope="row">2</td>
      <td>DV2</td>
      <td>2</td>
      <td>10</td>
    </tr>
  </tbody>
</table>
