<div class="body-page">
  <!-- <div>
    <button type="button" class="btn btn-primary" onclick="window.print()">Primary</button>
  </div> -->
  <div class="header-content">
    <div class="header-logo">
      <img src="../assets/images/8c65qGeEi.png" alt="" style="height: 100px; width: 100px;">
    </div>
    <div class="hedaer-text">
      <p>CÔNG TY TNHH TMDV PICKONE</p>
      <p>BAN QUẢN LÍ CHUNG CƯ ABC</p>
      <p>SĐT: 113</p>
      <p>Gmail: banquanly.chungcuabc@gmail.com</p>
    </div>
  </div>
  <div class="body-content">
    <hr>
    <div class="titleBody">
      <p *ngIf="this.type == 'HDDV'">Thông báo thu phí dịch vụ cố định tháng {{this.data.month}} -Hoá đơn số:
        {{this.chiTietDichVu[0].hoaDonDichVu.id}}</p>
      <p *ngIf="this.type == 'HDSC'">Thông báo thu phí sửa chữa tháng {{this.data.month}} - Hoá đơn số:
        {{this.chiTietDichVu[0].hoaDonSuaChua.id}}</p>
    </div>
    <!-- <div class="numberTB" *ngIf="this.type == 'HDDV'">
      <p>Hoá đơn số: {{this.chiTietDichVu[0].hoaDonDichVu.id}}</p>
    </div>
    <div class="numberTB" *ngIf="this.type == 'HDSC'">
      <p>Hoá đơn số: {{this.chiTietDichVu[0].hoaDonSuaChua.id}}</p>
    </div> -->
  </div>
  <div class="body-content2">
    <div class="nameLeft">
      <p>Tên khách hàng: {{this.canHo.chuCanHo.hoTen}}</p>
      <p>Mã căn hộ: {{this.canHo.tenCanHo}}</p>
    </div>
    <!-- <div class="nameRight">
      <p>Ngày: 21/07/2021</p>
      <h5>Chung cư Green Park</h5>
      <p>234</p>
    </div> -->
  </div>
  <div class="content1">
    <div class="title-content1">
      I.Phí quản lý
    </div>
    <div class="title-content3">
      <table border="1" style="width: 100%;" *ngIf="this.type =='HDDV'">
        <tr>
          <th>STT</th>
          <th>Tên dịch vụ</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>

        <tr *ngFor="let data of chiTietDichVu; let i = index">
          <th>{{i+1}}</th>
          <th>{{data.dichVuCoDinh.ten}}</th>
          <th>{{data.soLuong}}</th>
          <th>{{data.donGia}}</th>
          <th>{{data.donGia * data.soLuong}}</th>
        </tr>
        <tr>
          <td colspan="4">Tổng cộng</td>
          <td>{{sum()}}</td>
        </tr>

      </table>
      <table border="1" style="width: 100%;" *ngIf="this.type =='HDSC'">
        <tr>
          <th>STT</th>
          <th>Tên dịch vụ</th>
          <th>Đơn giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>

        <tr *ngFor="let data of chiTietDichVu; let i = index">
          <th>{{i+1}}</th>
          <th>{{data.loaiSuaChua.ten}}</th>
          <th>{{data.soLuong}}</th>
          <th>{{data.donGia}}</th>
          <th>{{data.donGia * data.soLuong}}</th>
        </tr>
        <tr>
          <td colspan="4">Tổng cộng</td>
          <td>{{sum()}}</td>
        </tr>

      </table>
    </div>
  </div>
  <!-- <div class="content2">
    <div class="title-content1">
      II.Tiền nước
    </div>
    <div class="title-content2">
      Từ 01/05/2021 đến 31/05/2021
    </div>
    <div class="title-content5">
      <table border="1" style="width: 100%;">
        <tr>
          <th rowspan="2">1. Phí nước</th>
          <th>Chỉ số cũ</th>
          <th>Chỉ số mới</th>
          <th>Tiêu thụ (m3)</th>
          <th>Định mức</th>
          <th>Đơn giá</th>
          <th>Thành tiền</th>
          <th>Ghi chú</th>
        </tr>

        <tr>
          <td>1,358</td>
          <td>1,378</td>
          <td>20</td>
          <td>X</td>
          <td></td>
          <td></td>
          <td></td>

        </tr>
        <tr>
          <td>Mức 1 (1m³-10m³)</td>
          <td></td>
          <td></td>
          <td></td>
          <td>10</td>
          <td>5,973</td>
          <td>59,730</td>
          <td></td>
        </tr>
        <tr>
          <td>Mức 2 (11m³-20m³)</td>
          <td></td>
          <td></td>
          <td></td>
          <td>10</td>
          <td>7,052</td>
          <td>70,520</td>
          <td></td>
        </tr>
        <tr>
          <td>Mức 3 (21m³-30m³)</td>
          <td></td>
          <td></td>
          <td></td>
          <td>-</td>
          <td>8,669</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>Mức 4 (>30m³)</td>
          <td></td>
          <td></td>
          <td></td>
          <td>-</td>
          <td>15,929</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
        <tr>
          <td>Mức 5</td>
          <td></td>
          <td></td>
          <td></td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Tổng cộng</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>130.250</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="6">Thuế VAT + phí môi trường (15%)</td>
          <td>19,538</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Nợ cũ</td>
          <td></td>
          <td></td>
          <td colspan="2"></td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Tổng cộng</td>
          <td colspan="2"></td>
          <td colspan="2"></td>
          <td colspan="2">149,788</td>
        </tr>

      </table>
    </div>
  </div> -->
  <!-- <div class="content3">
    <div class="title-content1">
      III.Phí trông giữ xe
    </div>
    <div class="title-content2">
      Từ 01/06/2021 đến 30/06/2021
    </div>
    <div class="title-content5">
      <table border="1" style="width: 100%;">
        <tr>
          <th>STT</th>
          <th>Loại xe</th>
          <th>Số lượng</th>
          <th>Đơn giá/ tháng(VND)</th>
          <th>Thành tiền (VND)</th>
          <th>Diễn giải</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Ô tô gửi ngày và đêm</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Ô tô gửi ngày</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td></td>
        </tr>

        <tr>
          <td>4</td>
          <td>Xe đạp - Xe đạp điện</td>
          <td>3</td>
          <td>-</td>
          <td>-</td>
          <td> </td>
        </tr>
        <tr>
          <td colspan="4"></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4">Tổng phí xe trong kì</td>
          <td>180,000</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4">Nợ cũ</td>
          <td>-</td>
          <td></td>
        </tr>
        <tr>
          <td colspan="4">Số tiền xe thanh toán</td>
          <td>180,000</td>
          <td></td>
        </tr>

      </table>
    </div>
  </div> -->
  <div class="content4">
    <div class="title-content1">
      IV.Số tiền thanh toán: (I)+(II)+(III)
    </div>
    <div class="title-content2">
      Tổng thanh toán: <table border="1" style="float: right; margin-right: 420px;">
        <td>924,788</td>
      </table>
    </div>
    <div class="title-content5">
      <p>Hạn thanh toán: 10/06/2021</p>
      <p>Thông báo nhắc nợ sẽ được gửi vào 11-12 hàng tháng, sau 21h ngày 15 BQL sẽ ngưng cung cấp dịch vụ đối với những
        hộ chưa đóng phí.</p>
      <p>Xin vui lòng thanh toán số tiền trên cho BQL tại quầy lễ tân hoặc chuyển vào tài khoản công ty.</p>
      <p>Tên người nhận/At: CÔNG TY TNHH TM DV PJK ONE</p>
      <p>Số tài khoản / Account No: 1231232121 - Ngân hàng Vietinbank - Chi nhánh 6</p>
      <h4>Vui lòng ghi đầy đủ khi nộp tiền qua TK với nội dụng: Mã căn: {{this.canHo.tenCanHo}} nộp phí
        {{this.type == 'HDDV' ? "Dịch vụ":"Sửa chữa"}}</h4>
      <h4>Ghi chú:</h4>
      <p style="font-style: italic;">* Nếu có thắc mắc hoặc sai sót trong số liệu công thu phí kính mong quý cư dân
        thông cảm và vui lòng liên hệ BQL tại quầy lễ tân hoặc liên hệ qua SĐT: 113
        để được giải đáp và khắc phục</p>
    </div>
  </div>
  <div class="content5">
    <div class="title-content1">
      <h4>BAN QUẢN LÝ TOÀ NHÀ</h4>
    </div>
    <div class="title-content2">
      <h4>NGƯỜI LẬP</h4>
    </div>
  </div>
</div>
