.red-icon {
  color: red;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.red-icon svg {
  fill: red;
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}
mat-form-field {
  width: 100%;
}
