<h4 mat-dialog-title>LỊCH SỬ ĐẶT PHÒNG</h4>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Tìm kiếm</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Nhập mục cần tìm..." #input>
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Mã đơn</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button [disabled]="row.bookingHistoryResponses.length === 0" (click)="history(row.id)" mat-menu-item>
              <mat-icon>Detail</mat-icon>
              <span>Lịch sử chuyển đổi</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card"> {{row.fullName}} </td>
      </ng-container>

      <ng-container matColumnDef="dateIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày nhận phòng</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)"
            [nbPopover]="card"> {{row.dateIn | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="dateOut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày trả phòng</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)"
            [nbPopover]="card"> {{row.dateOut | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá nhà</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card"> {{row.price}} </td>
      </ng-container>

      <ng-container matColumnDef="creatorName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Người tạo</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card"> {{row.creatorName}} </td>
      </ng-container>


      <ng-container matColumnDef="houseName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên nhà</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card"> {{row.houseName}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trạng thái</th>
        <td mat-cell *matCellDef="let row" (click)="loadOrder(row.id)" [nbPopover]="card">
          {{row.status === 'Not' ? row.deposit === true ? 'Đơn đã cọc' : 'Đơn chưa cọc' : row.status === 'CheckIn' ? 'Đã nhận phòng' : row.status === 'CheckOut' ? 'Đã thanh toán hóa đơn' :
          row.status === 'Processing' ? 'Chờ hoàn cọc' : row.status === 'Refunded' ? 'Đã hoàn cọc' : row.status === 'Cancel' ? 'Không hoàn cọc' : 'Không trạng thái'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Thoát</button>
  </mat-dialog-actions>
</mat-dialog-content>


<ng-template #card>
  <nb-card class="popover-card">
    <nb-card-header status="warning">
      Chi tiết đơn
    </nb-card-header>
    <nb-card-body>
      <div style="display: flex;">
        <p style=" font-weight: bold; padding-right: 5px">Địa chỉ người đặt:</p>{{order.address}}
        <p style="margin-left: 20px; font-weight: bold; padding-right: 5px">Email: </p>{{order.email}}
      </div>
      <div style="display: flex;">
        <p style=" font-weight: bold; padding-right: 5px">Số điện thoại:</p>{{order.phone}}
        <p style="margin-left: 20px; font-weight: bold; padding-right: 5px">Đã cọc: </p>{{order.depositPrice}}
      </div>
      <div style="display: flex;">
        <p style=" font-weight: bold; padding-right: 5px">Chi phí giảm:</p>{{order.discount}}
        <p style="margin-left: 20px; font-weight: bold; padding-right: 5px">Chi phí tăng:</p>{{order.costsIncurred}}
      </div>
      <div style="display: flex;">
        <p style=" font-weight: bold; padding-right: 5px">Ngày
          đặt: </p>{{order.createDate | date:'HH:mm:ss dd/MM/yyyy'}}
        <p style="margin-left: 20px; font-weight: bold; padding-right: 5px" *ngIf="order.userName">Tài khoản
          đặt: </p>{{order.userName}}
      </div>
      <div style="display: flex;">
        <p style=" font-weight: bold; padding-right: 5px">Ghi chú: </p>{{order.description}}
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
