<section class="w3l-form-36">
  <div class="form-36-mian section-gap">
    <div class="wrapper">
      <div class="form-inner-cont">
        <h3>Nhập mật khẩu mới</h3>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()"><br>
          <div class="login-failed"  *ngIf="this.username.length > 0">
           Tài khoản: <a class="register-success-text"> {{username}}</a>
          </div>
          <div class="form-input">
            <span class="fa fa-key" aria-hidden="true"></span> <input type="password" id="mysecretpassword"  [formControlName]="'password'" name="text"
              placeholder="Nhập mật khẩu mới" required autofocus />
          </div>
          <span *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched" style="color: rgb(211, 102, 102);">
            Bạn không được để trống mật khẩu
          </span>
          <div class="form-input">
            <span class="fa fa-key" aria-hidden="true"></span> <input type="password" [formControlName]="'confirmPassword'" name="text"
              placeholder="Xác nhận lại mật khẩu" required />
          </div>
          <span *ngIf="resetPasswordForm.hasError('mismatch')" style="color: rgb(211, 102, 102);">
            Mật khẩu nhập lại không trùng
          </span>
          <p class="login-failed-text" *ngIf='this.isError' style="color: rgb(211, 102, 102);">Lấy lại mật khẩu thất bại</p>
          <button [disabled]="(!resetPasswordForm.valid)" class="btn theme-button" style="margin-top: 5%; margin-left: 68%;">Đổi mật khẩu</button>
        </form>
        <p class="dangky">Bạn đã có tài khoản? <a routerLink="/login" class="">Đăng Nhập</a></p>
      </div>
    </div>
  </div>
</section>
