<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <mat-icon type="button" aria-hidden="false" routerLink="/admin/" aria-label="Example home icon">home</mat-icon>
    <li class="breadcrumb-item"><a routerLink="/admin/">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Căn hộ</li>
  </ol>
</nav>
<nb-card>
  <nb-card-header>
    Quản lý căn hộ
  </nb-card-header>
  <nb-card-body>
    <mat-tab-group mat-align-tabs="center" animationDuration="800ms">
      <mat-tab label="Danh sách căn hộ đã có người sử dụng"><br>
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilterCanHo($event)" placeholder="Nhập mục cần tìm..." #input>
        </mat-form-field>
        <table mat-table [dataSource]="canHo" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button routerLink="/admin/manage-canho/detail/{{row.id}}" mat-menu-item>
                  <mat-icon>details</mat-icon>
                  <span>Chi tiết</span>
                </button>
                <button (click)="openEdit(row.id)" mat-menu-item>
                  <mat-icon>lock</mat-icon>
                  <span>Khóa</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" style="width:50px;height:50px;"> </td>
          </ng-container> -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã căn hộ </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên căn hộ </th>
            <td mat-cell *matCellDef="let element"> {{element.tenCanHo}}</td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên chủ sở hữu </th>
            <td mat-cell *matCellDef="let element"> {{element.chuCanHo.hoTen}} </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại </th>
            <td mat-cell *matCellDef="let element"> {{element.chuCanHo.soDienThoai}} </td>
          </ng-container>
          <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tài khoản </th>
            <td mat-cell *matCellDef="let element"> <button mat-button *ngIf="element.idTaiKhoan == null"
                (click)="openAddTaiKhoan(element.id)" color="accent">Tạo tài
                khoản</button>
              <p *ngIf="element.idTaiKhoan != null">Đã có</p>
            </td>
          </ng-container>
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <span *ngIf="element.moTa != null" class="example-element-description-attribution">Mô tả:
                  </span>{{element.moTa}}
                  <span *ngIf="element.dienTich != null" class="example-element-description-attribution">Diện tích:
                  </span>{{element.dienTich}}
                  <span *ngIf="element.soLuongCuDan != null" class="example-element-description-attribution">Số người
                    hiện đang ở:
                  </span>{{element.soLuongCuDan}}
                  <!-- <span *ngIf="element.homeStayName != null" class="example-element-description-attribution">Làm tại cơ
                    sở: </span>{{element.homeStayName}} -->
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
      <mat-tab label="Danh sách căn hộ chưa có người sử dụng">
        <br>
        <div style="display: flex">
          <button (click)="openAdd()" mat-flat-button color="primary">Thêm căn hộ</button>
          <nb-actions size="medium">
            <nb-action nbPopoverTrigger="hover" icon="home-outline" [badgeText]="check.length" badgePosition="top right"
              badgeStatus="warning">
            </nb-action>
          </nb-actions>
        </div>
        <mat-form-field>
          <mat-label>Tìm kiếm</mat-label>
          <input matInput (keyup)="applyFilterCanHoKhongHoatDong($event)" placeholder="Nhập mục cần tìm..." #input>
        </mat-form-field>
        <table mat-table [dataSource]="canHoKhongHoatDong" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button (click)="openEdit(row.id)" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Chỉnh sửa</span>
                </button>
                <button (click)="openAddChuSoHuu(row)" mat-menu-item>
                  <mat-icon>add</mat-icon>
                  <span>Thêm chủ sở hữu</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>
          <!-- <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.image}}" style="width:50px;height:50px;"> </td>
          </ng-container> -->
          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã căn hộ </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên căn hộ </th>
            <td mat-cell *matCellDef="let element"> {{element.tenCanHo}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mô tả </th>
            <td mat-cell *matCellDef="let element"> {{element.moTa}} </td>
          </ng-container>
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Diện tích </th>
            <td mat-cell *matCellDef="let element"> {{element.dienTich}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplayKhongHoatDong"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayKhongHoatDong;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
          </tr>
          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </nb-card-body>
</nb-card>
<!-- <ng-template #card>
  <nb-card class="popover-card">
    <nb-card-header status="warning">
      Nhân viên không có cơ sở
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="check.length == 0">Không có dữ liệu</div>
      <div *ngIf="check.length > 0">
        <p *ngFor="let checks of check">
          <b style="color: black">Tài khoản:</b> {{checks.userName}} <button (click)="openEdit(checks.id)" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </p>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template> -->
