@import '../../../shared/@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px 0 16px 35px;
}

.example-element-description-attribution {
  padding-left: 20px;
  font-weight: bold;
  opacity: 2.5;
  color: #8e9d92;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.full-name-inputs,
.validation-checkboxes {
  display: flex;
  margin: 0 -0.5rem;

  > * {
    margin: 0 0.5rem;
  }
}

.checkbox-radio {
  display: flex;
}

.demo-items {
  flex: 1 0 33%;
}

nb-card-body {
  margin: 0 -0.5rem;

  button,
  p {
    margin: 0.5rem 0.5rem 0;
  }
}

.popover-card {
  margin: 0;
  max-width: 20rem;
}


