<section class="w3l-form-36">
  <div class="form-36-mian section-gap">
    <div class="wrapper">
      <div class="form-inner-cont">
        <h3>Quên mật khẩu</h3>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="form-input">
            <span class="fa fa-envelope" aria-hidden="true"></span> <input type="email" [formControlName]="'email'" name="email" placeholder="Email"
              required autofocus />
          </div>
          <span *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched" style="color: rgb(211, 102, 102);">
            Bạn nhập sai định dạng email
          </span>
          <span *ngIf='this.isError' style="color: rgb(211, 102, 102);">
            Email không tồn tại
          </span>
          <button [disabled]="(!forgotPasswordForm.valid)" class="btn theme-button" style="margin-top: 5%; margin-left: 68%;">Xác nhận</button>
        </form>
        <p class="dangky">Bạn đã có tài khoản? <a routerLink="/login" class="">Đăng Nhập</a></p>
      </div>
    </div>
  </div>
</section>
