<mat-form-field>
  <mat-label>Tìm kiếm</mat-label>
  <input matInput (keyup)="applyFilterDichVuKhac($event)" placeholder="Nhập dịch vụ cần tìm..." #input>
</mat-form-field>
<table mat-table [dataSource]="dichVuSuaChuaList" multiTemplateDataRows #TableTwoSort="matSort" class="mat-elevation-z8"
  matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="openDetailDichVu(row)" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Chi tiết</span>
        </button>

      </mat-menu>
    </td>
  </ng-container>
  <ng-container matColumnDef="stt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="ngayTao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ngày tạo </th>
    <td mat-cell *matCellDef="let element">
      {{this.convertDateToTimeStamp(element.ngayTao) | date:"longDate"}}
    </td>
  </ng-container>
  <ng-container matColumnDef="trangThai">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng Thái </th>
    <td mat-cell *matCellDef="let element">
      <button *ngIf="element.trangThai == false && role == 'Staff_bql'" mat-icon-button color="primary"
        (click)="openAddDichVu(element.id)">
        Thanh toán
      </button>

      {{element.trangThai ? "Đã thanh toán" : role == 'User' ? "Chưa thanh toán": ""}}
    </td>
  </ng-container>
  <ng-container matColumnDef="canHo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Căn Hộ</th>
    <td mat-cell *matCellDef="let element">
      {{element.canHo.tenCanHo}}
    </td>
  </ng-container>
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayDichVu.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
        *ngIf="element.trangThai == true">
        <div class="example-element-description">
          <span *ngIf="element.tenNguoiThanhToan != null" class="example-element-description-attribution">Người
            thanh toán:
          </span>{{element.tenNguoiThanhToan}}
          <span *ngIf="element.soDienThoai != null" class="example-element-description-attribution">Số
            điện
            thoại:
          </span>{{element.soDienThoai}}
          <span *ngIf="element.loaiHinhThanhToan != null" class="example-element-description-attribution">Loại
            hình thanh toán
          </span>{{element.loaiHinhThanhToan}}
          <span *ngIf="element.ngayThanhToan[0] != null" class="example-element-description-attribution">Ngày
            thanh
            toán: </span>{{convertDateToTimeStamp(element.ngayThanhToan) | date}}
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplayDichVu"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayDichVu;" class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Không có dữ liệu: "{{input.value}}"</td>
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
